section.new-tweet {
  display: none;
  border-radius: 15px 15px 15px;
  border: 2px solid #adadad;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
}
section.new-tweet h2 {
  border-bottom: 2px solid #244751;
  font-size: 32px;
  margin: 0px;
  margin-bottom: 10px;
}
section.new-tweet textarea {
  width: 100%;
  padding-bottom: 20px;
}
section.new-tweet span.counter {
  float: right;
}
